body, html{
	display:block;
	position: relative;
	width:100%;
	height:100%;
	margin:0;

	font-family: tt commons;

	transition: .5s ease-in-out background;
	background:rgb(220, 220, 220);
}

#container{
	display:flex;
	align-items: center;
	flex-direction: column;

	#canvas{
		margin-top:32px;
	}

	// #color{
	// 	display:block;
	// 	margin-top:32px;
	// 	width:32px;
	// 	height:32px;
	// 	background:white;
	// }
}

